[Unit]
Description=Rust Block Page Web Server
After=network.target

[Service]
ExecStart=/usr/local/bin/blocked_page_server
WorkingDirectory=/usr/local/share/blocked_page
Restart=always
User={user}
Environment=RUST_LOG=info
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
